<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Record</title>
    <link rel="stylesheet" href="../public/medical_record.css">
    <link rel="stylesheet" href="https:://unicons.iconscout.com/release/v4.0.0/css/line.css">
    
</head>
<body>
    <div class="mid-container">
        <header>Medical Record </header>
            <form action="#">
                <div class="form first">
                    <div class="general-info">
                        <span class="title"> General Information</span>

                        <div class="fields">
                            <div class="input-field">
                                <label for="Your height in meters"></label>
                                <input type="number" placeholder="Height">
                            </div>
                            <div class="input-field">
                                <label for="Your weight in kilograms"></label>
                                <input type="number" placeholder="Weight">
                            </div>
                            <div class="input-field">
                                <label for="BMI"></label>
                                <input type="number" placeholder="BMI">
                            </div>
                        
                        </div>

                    </div>
                </div>
            </form> 


        </div>
</body>
</html>