<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medical Record</title>
    <link rel="stylesheet" href="/medical_record.css">
    <link rel="stylesheet" href="https:://unicons.iconscout.com/release/v4.0.0/css/line.css">
    
</head>
<body>
    <div class="mid-container">
        <header>Medical Record </header>
            <form action="#">
                <div class="form first">
                    <div class="general-info">
                        <span class="title"> General Information</span>

                        <div class="fields">
                            <div class="input-field">
                                <label for="height">Your height in meters</label>
                                <input type="number" placeholder="Height">
                            </div>
                            <div class="input-field">
                                <label for="weight">Your weight in kilograms</label>
                                <input type="number" placeholder="Weight">
                            </div>
                            <div class="input-field">
                                <label for="BMI"> BMI</label>
                                <input type="number" placeholder="BMI">  
                            </div>


                             <!-- 2nd row -->


                            <div class="input-field-docs">
                                <label for="Blood Report">Your blood report file</label>
                                <input type="file" class="docs-input-button" placeholder="Blood Report">
                            </div>
                            <div class="input-field">
                                <label for="yesNoSelect">Insurance</label>
                                <select id="yesNoSelect" name="yesNo">
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                            <div class="input-field-docs">
                                <label for="Blood Report">Your insurance file</label>
                                <input type="file" class="docs-input-button" placeholder="Insurance File">
                            </div>
                            <!-- /3rd row -->
                            <div class="input-field">
                                <label for="yesNoSelect">Married</label>
                                <select id="yesNoSelect" name="yesNo">
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                            <div class="input-field">
                                <label for="yesNoSelect">Consanguineous(Whether married within relatives)</label>
                                <select id="yesNoSelect" name="Whether married within relatives">
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                            <div class="input-field">
                                <label for="yesNoSelect">Insurance</label>
                                <select id="yesNoSelect" name="yesNo">
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="general-info">
                        <span class="title">Habits and Choices</span>

                        <div class="fields">
                            <div class="input-field">
                                <label for="yesNoSelect">Diet</label>
                                <select id="yesNoSelect" name="yesNo">
                                    <option value="yes">Veg</option>
                                    <option value="no">Non Veg</option>
                                </select>
                            </div>
                            <div class="input-field">
                                <label for="yesNoSelect">Smoking</label>
                                <select id="yesNoSelect" name="yesNo">
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                            <div class="input-field">
                                <label for="yesNoSelect">Drinking</label>
                                <select id="yesNoSelect" name="yesNo">
                                    <option value="yes">Yes</option>
                                    <option value="no">No</option>
                                </select>
                            </div>

                        </div>
                    </div>

                    <div class="general-info">
                        <span class="title"> Medical Information</span>

                        <div class="fields">
                            <div class="input-field">
                                <label for="past diseases">Past diseases and medical condition</label>
                                <input type="text" placeholder="Past Diseases">
                            </div>
                            <div class="input-field-docs">
                                <label for=" past diseases report">Your past diseases report</label>
                                <input type="file" class="docs-input-button" placeholder="past diseases report">
                            </div>
                            <div class="input-field">
                                <label for="family medical condition">Family history of medical condition</label>
                                <input type="text" placeholder="family medical condition Diseases">
                            </div>
                            <div class="input-field">
                                <label for="present medical condition">Present medical condition</label>
                                <input type="text" placeholder="Present  Diseases">
                            </div>
                            <div class="input-field">
                                <label for="present medical condition">Present medical symptoms</label>
                                <input type="text" placeholder="Symptoms ">
                            </div>
                            <div class="input-field-docs">
                                <label for="Present medical report">Present medical report</label>
                                <input type="file" class="docs-input-button" placeholder="Present medical report File">
                            </div>
                            
                            


                            
                        </div>
                    </div>
                 </form> 


                 </div>
</body>
</html>