       *{
        margin: 0;
        font-family: Arial;
        border: border-box;
        }

         #title {
            background-color:#0D9276;
            height:500px;
            width:100%;
        }
        
        .img{
            margin-left:110px;
            margin-top:50px;
            width:350px;
            height:300px;
        }

        .row{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }


        
        .navbar-brand{
            font-family: "Montserrat", sans-serif;
            font-size: medium;
            color:white solid 1px;
        }

        #nav-item{
            margin-left:60px;
        }
        
        
        h1{
           font-family: 'Montserrat', sans-serif;
           color:#fff;
           size:2.03rem;
           line-height:1.5;
        }
        
        h2{
            font-family:'Montserrat', sans-serif;
            line-height:1.5;
            size:2.03rem;
            padding:3% 15%;
        }
        
        h3{
            font-family: 'Montserrat', sans-serif;
            font-size:2.03rem;
        }
        
        .container-fluid{
             padding:3% 15%;
        }
        
        .easy{
            margin:auto;
            flex: 0 0 calc(33.333% - 15px); 
            margin-bottom: 15px;
        }
        .icon{
            margin-bottom:1rem;
        }
        
        #features{
            padding:7% 15%;
            text-align:center;
            padding:5%;
        }
        
        
        .press{
            background-color: #dbc1ac;
            text-align:center;
            padding:3%;
        }
        
        .press-icon{
            width:15%;
            margin:20px 20px 50px;
        }
        
       
        @media(max-width:768px){

            #title{
                height:1000px;
                background-color:#0D9276;

            }
            .img{
                height:300px;
                width:400px;
                padding-bottom:50px;
                padding-left: 50px;
                padding-right:50px;
                margin:auto;

                
            }
            .easy {
                flex: 0 0 calc(50% - 15px); /* Two features in one row for screens smaller than 768px */
            }
            .row{
                text-align:center;
            }
           
        }
        
        
        