
*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}

    




.navbar1{
    
    height: 30vh;
    background-color:#40A2E3;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  
}

.name{
font-size: 1.8rem;
font-family: sans-serif;
font-style: inherit;
margin-bottom: 80px;
margin-right: 30px;
}

.search{
    display: flex;
    justify-content:space-evenly ;
    /* background-color: pink; */
    width: 35vw;                        
    height: 5vh;                          
    border-radius: 4px;
   
}
.search:hover{
    border: 2px solid rgba(12, 1, 2, 0.603);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: none;

}

.search-input {
   
    width: 100%;
    font-size: 1rem;
    border:none;
    font-size: 17px;
 
}

.search-icon{

    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: aquamarine;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color:#0f1111

    


}


.home{
     font-size: 1.2rem;
}

.about{
    font-size: 1.2rem;
}
.Emergency{    font-size: 1.2rem;
}


.faq{
    font-size: 1.2rem;
}
.noti{
 
 font-size: 20px;


}

.margin{
    margin-top: 75px;
}



    @media(max-width: 768px) {



        .navbar1 {
          
            height:15vh; 
            width: 100%;
            display: flex;
            justify-content: space-evenly;}

        }

    /* profile container box */
   
    
    /* .midcontainer {
        
        height: 100%;
        margin: 0;
        display: flex;
       
    }
     */
    .box {
        width: 75%;
        height: 400px;
       
        border: 2px solid #40A2E3;
        /* padding: 1px; */
        margin: 7.5%;
        position: relative;
        /* align-items: center;
        justify-content: center; */
        text-align: center;
        
    }
    
    .section {
        flex: 1;
        margin: 10px;
        padding: 10px;
        text-align: center;

    }
    
    .section h3 {
        margin-top: 0;
    }

    
    
    #profilePicPreview {
        width: 100px; /* Adjust width as needed */
        height: 100px; /* Adjust height as needed */
        border-radius: 50%; /* Make it circular */
        object-fit: cover; /* Maintain aspect ratio */
        border: 2px solid #333; /* Add border */
        text-align: center;
    }

.box .c1{
    position: relative;
    width: 33%;
    height: 400px;
    /* background: #00f; */
    float: left;
    border-right: 2px solid #40A2E3;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    /* background-color: #FFF6E9; */



}
.box .c2{
    position: relative;
    width: 33%;
    height: 270px;
    /* background: rgb(90, 195, 160); */
    float: left;
    /* border: 2px solid #BBE2EC; */
    box-sizing: border-box;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* background-color: #FFF6E9; */

}
.box .c3{
    position: relative;
    width: 33.33%;
    height: 270px;
    /* background: #00f; */
    float: left;
    /* border: 2px solid #BBE2EC; */
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* background-color: #FFF6E9; */

}
.box .c4{
    position: relative;
    width: 67%;
    height: 130px;
    /* background: rgb(90, 195, 160); */
    float: left;
    /* border: 2px solid #0D9276; */
    box-sizing: border-box;
    align-items: left;
    flex-direction: column;
    /* background-color: #FFF6E9; */
    border-top: 2px solid #40A2E3;
    
}
.input-field{
    width: 100%;
    font-size: 15px;
    margin: .7rem 0;
    border: none;
    /* background-color: #e8e8e8; */
    padding: 1rem 1.8rem;
    letter-spacing: 0.3rem;
    border-radius: 5px; 
    justify-content: space-around;
    height: 33.33%;
    color: #0f1111;
}

.c4 .input-field{
    width: auto;
    height: auto;
    justify-content: space-around;
}
.address{
    padding: 0px;
    margin: 0px;
    
}
.box-input{
    height: 50px;
    width: 90%;
    margin-top: .7rem ;


}
.box-input-2{
    height: 100%;
    width: 90%;
    margin-top: .7rem ;

}


.input-field-submit{
    
    width: 100%;
    font-size: 15px;
    /* margin: .7rem 0; */
    border: none;
    /* background-color: #e8e8e8; */
    padding: 1rem 1.8rem;
    letter-spacing: 0.3rem;
    border-radius: 5px; 
    justify-content: space-around;
    height: 33.33%;
    
}

.mid-container{
    background-color: #40A2E3;
}
 
#box-input-2{
    height: 30px;
    width: 90%;
    /* color: #0f1111; */
    /* background-color: #f2fcff; */

}
 input{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

 }